<table>
  <tbody>
    <tr>
      <td><%= button_to 'Pearl of Wisdom', quote_path, method: :get %></td>
      <td><%= button_to 'Click for a Funny', joke_path, method: :get %></td>
    </tr>
  </tbody>
</table>
