<%= render 'output' %>

<table>
  <tbody>
    <tr>
      <td><%= button_to 'Pearl of Wisdom', root_path, method: :get %></td>
      <td><%= button_to 'Click for a Funny', root_path, method: :get %></td>
    </tr>
  </tbody>
</table>
